// users.templ
package main
import "fmt"

templ users_list(users []User) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Users List</title>
		</head>
		<body>
			<h1>Users List</h1>
      hello
			<ul>
				for _, user := range users {
					<li>{ fmt.Sprintf("%d: %s (%s)", user.ID, user.Username, user.Email) }</li>
				}
			</ul>
		</body>
	</html>
}
